@media (max-width:580px) {
  .visit-name {
    font-size: 15px;
  }
  .visit-age {
    padding-top: 2px;
  }
  .visit-age {
    font-size: 13px;
  }
  .visit-status {
    margin-top: 4px;
    font-size: 13px;
    color: #a9a9a9;
    clear: left;
  }
  .visit-remove a {
    margin-top: 9px;
    padding: 4px 6px;
  }
}
